.frame {
    display: flex ;
    flex-wrap: wrap ;
    background-color: silver;
    margin:2vh;
}
.main-content {
    width:105vh;
    min-height:50vh;
    border:0px;
    padding: 2vh ;
    border-left: 2px outset #7f7f7f;
    border-top: 2px outset #7f7f7f;
    box-shadow: 2px 3px 4px #ffffff;
    margin-left: 1vh;
    margin-top: 1vh;
}