.headerbar {
    min-width:185vh;
    width: 80%;
    height: 10vh;
    margin-top: 5vh ;
    margin-right:5vh;
    margin-left: 1vh;
    background-color: #eff7f7;
    border:2px transparent ;
    border-radius: 3px;
    box-shadow: 2px 3px 3px rgb(125, 200, 245);
    z-index: 2;
}